@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');


$lightgray:#edebeb;
$aqua:#00D2DC;

*{
    margin:0;
    padding:0;
    border:0;
    user-select:none;
    box-sizing:border-box;
    text-decoration:none;
}


body{
    font-family:Inter, sans-serif;
}

img,span{
    display: block;
}

.header{
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    background-color: white;
    border-bottom: 1px solid $lightgray ;

    display: flex;
    align-items: center;
    padding: 1rem 3rem;
}
 
.top{
    min-height: 100vh;
    background-color: rgb(246, 246, 246);

    display: flex;
    justify-content: center;
    align-items: center;
}

.app{
     
    max-width: 560px;
    width: 100%;
 
    border-radius: 16px;
    overflow: hidden;
 
} 

button{
    display: block;
    cursor: pointer;
    padding: 0.625rem 3rem  ;
    background-color: $aqua;
    text-align: center;
    width: fit-content;
    border-radius: 8px;
    white-space: nowrap;
}
.icon-button{
    cursor: pointer;
}

input{
    font-size: 1rem;
    &:focus{
        outline: none;
    }
}

.panel{
    background-color: white;
    display: none;
    width: 100%;
    min-height: 600px;
    flex-direction: column;
    padding: 2rem;
    &.active{
        display: flex;
    }
    &-title{
        width: 100%;
        display: flex;
        font-size: 1.2rem;
        text-align: center;
        justify-content: space-between;
    }
}

.panel.score-board{
     padding: 0;
    >.buttons{
        margin-top: auto;
        padding: 2rem;
        width: 100%;
        
        display: flex;
        gap: 1rem;
        >*{
            flex: 1;
        }
    }
}

.score-rows{
    flex: 1;
    display: flex;
    align-items: stretch;
    >:nth-child(n+2){
        border-left: 1px solid black;
    }
}

.score-row{
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    &.main{
        font-weight: 700;
    }
    >.row-header{
        background-color: #eaeaea;
    }
 
    >*{
        padding: 0.6rem;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid black;
    }

    & img{
        margin: 0 auto;
        
    }
    
    &.active{
        >.row-header{
            background-color: $aqua;
        }
        >*{
            background-color: rgba($color: $aqua, $alpha: .1);
            cursor: pointer;
        }
    }
}
 

.panel.lobby {
    padding: 2rem;
    justify-content: stretch;
    >.participants{
        margin-top: 2rem;
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
      
        
        >li{
            padding: 0.8rem 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom:1px solid rgb(33, 33, 33);
        }

        >:last-child{
          
            display: flex;
         
            border-bottom: none;
        }
         
    }

     >button{
       align-self: flex-end;
     }
}
.panel.pause-menu{
   align-items: center;
    >.options{
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: center;
         
    }
}

