@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  box-sizing: border-box;
  text-decoration: none;
}

ul, li {
  list-style: none;
}

input, a, button, .button {
  cursor: pointer;
}

input {
  width: 100%;
}

a {
  color: black;
}

body {
  font-family: Inter, sans-serif;
}

img, span {
  display: block;
}

.capitalize {
  text-transform: capitalize;
}

.header {
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
  background-color: white;
  border-bottom: 1px solid #edebeb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
}

.top {
  min-height: 100vh;
  background-color: rgb(246, 246, 246);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}
@media only screen and (max-width: 632px) {
  .top {
    align-items: stretch;
  }
}

.app {
  max-width: 1400px;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
  display: flex;
  min-height: 600px;
}
@media only screen and (max-width: 632px) {
  .app {
    min-height: none;
    max-width: 100%;
    width: 100%;
  }
}

button, .button {
  display: flex;
  padding: 0.625rem 2rem;
  background-color: #00D2DC;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 4px;
  white-space: nowrap;
  transition: all 0.3 ease-in-out;
  gap: 0.625rem;
  width: fit-content;
  font-weight: 600;
  font-size: 1rem;
}
button:hover, .button:hover {
  background-color: rgba(0, 210, 220, 0.7);
}
button > img, .button > img {
  width: 20px;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.icon-button {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.icon-button:hover {
  opacity: 0.8;
}

input {
  font-size: 1rem;
}
input:focus {
  outline: none;
}

.panel {
  background-color: white;
  display: none;
  width: 100%;
  flex-direction: column;
  padding: 2rem;
  min-width: 600px;
}
.panel.active {
  display: flex;
}
.panel-title {
  width: 100%;
  display: flex;
  font-size: 1.2rem;
  text-align: center;
  justify-content: space-between;
}
@media only screen and (max-width: 632px) {
  .panel {
    min-width: 0;
    flex: 1;
    width: 100%;
    max-height: 100%;
  }
}

.score-board {
  padding: 0;
  flex-direction: row;
  flex: 1;
}
@media only screen and (max-width: 632px) {
  .score-board {
    flex-direction: column;
  }
}

.info {
  padding: 2rem;
  display: flex;
  max-width: 320px;
  flex-direction: column;
  gap: 2rem;
}
@media only screen and (max-width: 632px) {
  .info {
    max-width: 100%;
  }
}
.info > .info-list {
  list-style: none;
}
.info > .info-list > * {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.5rem 0;
}
.info > .instructions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
.info > .instructions > .title {
  font-size: 1rem;
  padding: 0.3rem;
  flex: 1;
}

.score-rows {
  flex: 1;
  display: flex;
  align-items: stretch;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.score-rows > :nth-child(n+2) {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.dart-board {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.dart-board > img {
  max-width: 520px;
}

.score-row {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-width: 80px;
}
@media only screen and (max-width: 632px) {
  .score-row {
    min-width: 46px;
  }
}
.score-row > .row-header {
  background-color: #eaeaea;
}
.score-row > * {
  padding: 0.6rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 46px;
}
.score-row > :last-child {
  border-bottom: 0;
}
.score-row img {
  margin: 0 auto;
}
.score-row.active > .row-header {
  background-color: #00D2DC;
}
.score-row.active > * {
  background-color: rgba(0, 210, 220, 0.1);
}

.multiplier {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
  justify-content: center;
  align-items: center;
}
.multiplier.active {
  display: flex;
}
.multiplier > :first-child {
  display: flex;
  background-color: white;
  width: 100%;
  max-width: 500px;
}
.multiplier > :first-child > * {
  cursor: pointer;
  width: 33.3333%;
}

.score-row.main {
  position: relative;
  font-weight: 700;
}
.score-row.main > * {
  cursor: pointer;
  padding: 0.6rem;
}
.score-row.main > *.closed {
  background-color: #000000;
  color: white;
}
.score-row.main > *.closed:hover {
  background-color: rgb(74, 74, 74);
}
.score-row.main > *[pt-val]:hover {
  background-color: #00D2DC;
}
.score-row.main > * > img {
  pointer-events: none;
}

.panel.lobby {
  padding: 2rem;
  justify-content: stretch;
}
.panel.lobby > .participants {
  margin-top: 2rem;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.panel.lobby > .participants > li {
  padding: 0.8rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #212121;
}
.panel.lobby > .participants > :last-child {
  display: flex;
  border-bottom: none;
}
.panel.lobby > button {
  align-self: flex-end;
}

.panel.pause-menu {
  align-items: center;
}
.panel.pause-menu > .options {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.player {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem 2rem;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  gap: 0;
}
.player #activePlayer {
  font-weight: 600;
  font-size: 1.4rem;
}
.player > .player-hand {
  display: flex;
  justify-content: flex-end;
  gap: 0.4rem;
}
.player > .player-hand > img {
  display: none;
  width: 22px;
}
.player > .player-hand > img.active {
  display: block;
}/*# sourceMappingURL=main.css.map */